
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.bankDetailsParentContainer{
    width: 90vw;
    /* margin: auto; */
    display: flex;
    margin-top: 5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 79vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.bankDetailsContainer{
    width: 45vw;
    /* border:2px solid rgb(30, 30, 55); */
    display:flex ;
    flex-direction: column;
    justify-content: space-around;
    
    /* border-right:0.5px solid rgb(30, 30, 55); */

}
.bankDetailsNumberPad{
    width: 45vw;
    position: relative;

}
.centerBtn{
    text-align: center;
}