*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.MuiButton-root{
    border-radius: 0;
    height: 4rem;
    width: 13rem;
}
.btnLayout{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.layoutContainer{
    padding-right: 2%;
    padding-left: 2%;
    display: flex;
    justify-content: space-between;
    height: 90vh;
    /* background: red; */

}
.btnLayoutSingle{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}